* {
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(240, 235, 248);
}

#root {
    background-color: white;
    margin: 2em auto 0 auto;
    max-width: 800px;
    margin: 0 auto 0 auto;
    border: 0;
}

.childRoot {
    max-width: 800px;
}

input {
    background-color: white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    outline: none;
    margin: 1em 0 1em 0;
    color: white;
}

.input[contenteditable="true"] {
    background-color: white;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid black;
    outline: none;
}

textarea {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    height: 47px;
    outline: none;
    margin: 1em 0 1em 0;
    resize: none;
    box-sizing: border-box
}


.emptyIput {
    color: red;
    padding-left: 5%;
    background-color: rgb(240, 235, 248);
}

.btn {
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: flex-start;
}

.btn button:last-child {
    margin-left: 15px;
}

button {
    background-color: white;
    width: 6em;
    height: 2.2em;
    border: 0;
    border-radius: 7px;
    color: rgb(72, 5, 110);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

button:hover {
    background-color: rgb(244, 240, 250);
}

.noBorder {
    padding: 2em 2em 2em 2em;
}


.border {
    border: 1px solid rgba(128, 128, 128, 0.462);
    padding: 2em 5% 2em 5%;
    border-radius: 8px;
    margin: 0.5em auto 0.7em auto;
    /* margin: 0 0 1em 0; */
    /* width: 100%; */
    background-color: white;
}

h1 {
    font-size: 20px;
}

.example {
    margin: 0;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.tit{
    background-color: white;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.comment {
    border-top: 2px solid rgb(240, 235, 248);
    border-bottom: 2px solid rgb(240, 235, 248);
    padding: 15px 0 15px 0;
    margin: 15px 0 15px 0;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

/* span {
    font-size: 15px;
} */

.border p {
    background-color: white;
    margin: 5px auto 5px auto;

}

.border div {
    background-color: white;
}


input[type="radio"] {
    width: auto;
    margin-right: 1%;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');